Day2/task1/employees.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2023 sp1 (x64) (http://www.altova.com) -->
<!ELEMENT city (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ATTLIST phone
	type (home | mobile | work) #REQUIRED
>
<!ELEMENT region (#PCDATA)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT address (street, buildingNumber, city, region, country)>
<!ELEMENT country (#PCDATA)>
<!ELEMENT employee (phone+, address)>
<!ATTLIST employee
	name (wafaa | menna) #REQUIRED
	email CDATA #REQUIRED
>
<!ELEMENT employees (employee+)>
<!ELEMENT buildingNumber (#PCDATA)>